section:nth-of-type(2){
    .container{
        color: $secondary;
        display: flex;
        justify-content: space-between;
        width: 75%;
        margin: 40px auto;
    }
    .card{
        width: 21%;
        text-align: center;
        background-color: rgb(94, 232, 245);
        border-radius: 25px;
        & img{
            width: 100%;
            border-top-left-radius: 25px;
            border-top-right-radius: 25px;
        }
        & div:nth-of-type(2) p{
            padding: 0 30px;
        }
    }
   
}

.container{
    display: flex;
    justify-content: center;
    justify-content: space-between;
    width: 75%;
    margin-left: auto;
    margin-right: auto;
}