$normal-padding: 10px 30px;

@mixin buttonStyles {
    color: $secondary;
    font-weight: bold;
    background-color: rgb(10, 204, 248);
    padding: $normal-padding;
    border: none;
    border-radius: 30px;
  }

@mixin titleBig{
  font: {
      size: 2em;
      weight: bold;
  }
  color: $title;
}

@mixin floating ($box-shadow, $border:2px solid $terzo){
  border-radius: 50px;
  box-shadow: $box-shadow;
  border: $border;
}



@mixin grid($n) {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  & > * {
    width: calc(100 / $n) * 1%;
    flex-grow: 1;
  }
}